 body{
	background-color: #EDE8E8;
	overflow-y: hidden;
}

body, html {
overflow-x: hidden !important;

}

.dropdown-menu{
	background-color: #EDE8E8;
}

button{
	border: none;
	background-color: #EDE8E8;
	display: flex;
	align-items: center;
	margin: 5px;
}

#navbar{
	flex-direction: row;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.titulo{
    font-family: "Oranienbaum", serif;
    font-weight: 500;
	font-style: normal;
	text-decoration: none;
	font-size: 35px;
	color: black;
}

#logo{
	margin-top: 10px;
}

hr{
	margin-top: 0;
	width: 98%;
	height: 3px;
}

#body{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	height: calc(100vh - 100px);
	font-family: "Montserrat";
	
}

img#home{
	width: 25vw;
	padding: 15px;
}

#texto{
	padding: 15px;
	width: 500px;
}

#texto p{
	text-align: justify;
}

@media (max-height:700px){
	.group{
		margin-bottom: 170px !important;
	}
}

@media (min-height:720px) and (max-height:740px){
	.group{
		margin-bottom: 130px !important;
	}
}


@media (max-height:800px){
	.gg{
		margin-bottom: 140px !important;
	}
}

@media (max-height:900px){
	.gg{
		margin-bottom: 70px !important;
	}
}

@media (max-height:1000px){
	.gg{
		margin-bottom: 40px !important;
	}
}

/*celulares*/
@media (max-width:480px){
     #body{
          display: flex;
          align-items: center;
		justify-content: center;
		flex-direction: column;
		height: calc(100vh - 100px);
		margin-bottom: 15vh;
          }

          .t{
          	display: flex;
          	justify-content: center;
          	align-items: center;
          }

          img{
          	width: 90vw !important;
          }

          .group{
          	margin-bottom: 10px;
          }

     #texto{
		font-family: "Montserrat";
		width: 90vw !important;
	     }

	 .musica{
	 	display: flex;
	 	flex-direction: column;
	 	flex-wrap: wrap;

	 	width: 95%;

	 	column-count: 1;

	 	margin: 0 auto !important;
	 }

	 .body{
	 	display: flex !important;
	 	justify-content: center !important;
	 	align-items: center!important;
	 	flex-direction: column;
	 	margin-bottom: 50px;

	 }

	 #home{
	 	width: 20vw;
	 }

	 .manchetes{
	 	margin: 0 auto !important;
	 	text-align: center;
	 	margin-bottom: 15px;
	 	width: 400px;
	 }

	
	.cards{
		margin: 0 auto !important;
		flex-direction: column;
	}

	.card{
		
		font-size: 15px;
		width: 90vw !important;
	}

	.card-text{
		width: 85vw !important;
	display: flex;
	align-items: center;
	text-align: justify;

	}

	.card-body{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.a{
		padding: 20px;
	}
}/*responsividade*/


/*médios*/
@media (max-width:767px){
     #body{
          display: flex;
          align-items: center;
		justify-content: center;
		flex-direction: column;
		height: calc(100vh - 100px);
          }

          img{
          	width: 90vw !important;
          }

          .t{
          	display: flex;
          	justify-content: center;
          	align-items: center;
          }

     #texto{
		font-family: "Montserrat";
		width: 90vw !important;
	     }

	 .musica{
	 	display: flex;
	 	flex-direction: column;
	 	flex-wrap: wrap;

	 	width: 95%;

	 	column-count: 1;

	 	margin: 0 auto !important;
	 }

	 .body{
	 	display: flex;
	 	justify-content: center;
	 	flex-direction: column;
	 	margin-bottom: 50px;

	 }

	 #home{
	 	width: 20vw;
	 }

	 .manchetes{
	 	margin: 0 auto !important;
	 	text-align: center;
	 	margin-bottom: 15px;
	 	width: 400px;
	 }

	
	.cards{
		margin: 0 auto !important;
		flex-direction: column;
	}

	.card{
		
		font-size: 15px;
		width: 90vw !important;
	}

	.card-text{
		width: 85vw !important;
	display: flex;
	align-items: center;
	text-align: justify;

	}

	.card-body{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.a{
		padding: 20px;
	}
}/*responsividade*/

/*celulares*/
@media (max-width:1024px){
     #body{
          display: flex;
          align-items: center;
		justify-content: center;
		flex-direction: column;
		height: calc(100vh - 100px);
          }

          img{
          	width: 90vw !important;
          }

     #texto{
		font-family: "Montserrat";
		width: 90vw !important;
	     }

	 .musica{
	 	display: flex;
	 	flex-direction: column;
	 	flex-wrap: wrap;

	 	width: 95%;

	 	column-count: 1;

	 	margin: 0 auto !important;
	 }

	 .body{
	 	display: flex;
	 	justify-content: center;
	 	flex-direction: column;
	 	margin-bottom: 50px;

	 }

	 #home{
	 	width: 20vw;
	 }

	 .manchetes{
	 	margin: 0 auto !important;
	 	text-align: center;
	 	margin-bottom: 15px;
	 	width: 400px;
	 }

	
	.cards{
		margin: 0 auto !important;
		flex-direction: column;
		display: flex !important;
		align-items: center !important;
		justify-content: center !important;
	}

.t{
          	display: flex;
          	justify-content: center;
          	align-items: center;
          }

	.card{
		
		font-size: 15px;
		width: 90vw !important;
	}

	.card-text{
		width: 85vw !important;
	display: flex;
	align-items: center;
	text-align: justify;

	}

	.card-body{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.a{
		padding: 20px;
	}
} /*responsividade*/

.musica{
	text-align: justify;
	column-count: 4;

	margin: 0 100px 50px 100px;

	justify-content: center;
}

.manchetes{
	margin: 40px 0 20px 100px;
	font-size: 25px;
}

.p{
	margin-bottom: 15px;
}

.cards{
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 50px;

}

.card{
	margin-inline: 10px;
	margin-bottom: 40px;
	font-size: 15px;
	width: 395px;
}

.card-text{
	width: 360px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: justify;
	height: 200px;

}

.card-body{
		display: flex;
		justify-content: center;
		align-items: center;
	}

.sub{
	font-family: "Oranienbaum", serif;
    font-weight: 500;
	font-style: normal;
	text-decoration: none;
	font-size: 20px;
	color: black;
	text-align: justify;
	margin-top: 10px;
}